* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

@media (max-width: 768px) {
  #root {
    max-width: 720px;
    margin: 0 auto;
  }
}

#root {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  border: 2px solid #888;
  border-radius: 4px;
  background: #bfbfbf;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bolder;
}

.rooms-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rooms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 50px 0;
}

.pad * {
  margin: 0.5em 1em;
}

.room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #888;
  border-radius: 8px;
  padding: 30px 50px;
  background: #eeeeee;
}

.connected-users {
  font-size: 13px;
}

.room-page {
  display: flex;
  justify-content: space-evenly;
}

.room-game {
  width: 450px;
  height: 450px;
  border: 2px solid #333333;
}

.room-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.readiness {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #333333;
  border-radius: 50%;
}

.game-readiness {
  height: 100%;
}

.game-readiness-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-lg {
  border: 2px solid #888;
  border-radius: 4px;
  background: #bfbfbf;
  padding: 25px 25px;
  font-size: 15px;
  font-weight: bolder;
}

.meter {
  border: 1px solid #333;
  border-radius: 2px;
  position: relative;
  height: 18px;
}

.meter-progress {
  position: absolute;
  height: 16px;
  top: -8px;
  left: -16px;
  width: 5px;
  border: 1px solid #1a9001;
  background: #1a9001;
}

.not-ready {
  background: #900101;
}

.ready {
  background: #1a9001;
}

.game-timer  {
  height: 100%;
}

.game-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer-count {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 50px;
}

.game-text {
  height: 100%;
}

.game-text-container {
  height: 400px;
  display: flex;
}

.game-process {
  height: 100%;
}

.process-timer {
  display: block;
  text-align: right;
}

.game-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-page {
  display: flex;
  justify-content: space-evenly;
}

.room-game {
  width: 450px;
  height: 450px;
  border: 2px solid #333333;
}

.room-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.readiness {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #333333;
  border-radius: 50%;
}

.game-readiness {
  height: 100%;
}

.game-readiness-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-lg {
  border: 2px solid #888;
  border-radius: 4px;
  background: #bfbfbf;
  padding: 25px 25px;
  font-size: 15px;
  font-weight: bolder;
}

.meter {
  border: 1px solid #333;
  border-radius: 2px;
  position: relative;
  height: 18px;
}

.meter-progress {
  position: absolute;
  height: 16px;
  top: -8px;
  left: -16px;
  width: 5px;
  border: 1px solid #1a9001;
  background: #1a9001;
}

.not-ready {
  background: #900101;
}

.ready {
  background: #1a9001;
}

.game-timer  {
  height: 100%;
}

.game-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer-count {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 50px;
}

.game-text {
  height: 100%;
}

.game-text-container {
  height: 400px;
  display: flex;
}

.game-process {
  height: 100%;
}

.process-timer {
  display: block;
  text-align: right;
}

.game-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
